<!--modal-->
<div
  class="modal fade"
  id="confirmationModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">Are you sure you want to cancel?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <form action="/cancel" method="get">
          <button type="submit" class="btn btn-primary" id="confirmYesButton">
            Yes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
