<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Serialization</title>
    <link rel="icon"   href="https://cf.shopee.ph/file/8cd932270b4e8c4f0cd5a197eeff2313_tn">
   
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/images/style.css">
   

<style>
    .navbar{
        background-color: #dc3545;
        color:white;  
        font-family: 'Courier New', Courier, monospace;
    }
</style>

  </head>
  <body>
    <nav class="navbar navbar-expand  border border-1 shadow-sm">
  
      </div>
    </div>
    <div class="container-fluid text-center">
        <img
        src="/static/images/logo.png"
        alt="Logo"
        height="34"
        class="d-inline-block align-text-top"
      />
      <ul class="navbar-nav ms-auto">
        <!-- <li class="nav-item mx-3"> 
          <a class="nav-link"  href="https://www.google.com" target="_blank">Go to BMS</a>
        </li> -->
        <li>
            <div class="col-12 ">Geromme Beligon</div>
            <div class="col-12">(BMS Sys Admin)</div>
        </li>
      </ul>
      
    </div>

  
      
    </nav>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
